# Name: octane-view
# Author: Ji Yu
# Version: 0.1

Octane>View, "Load...", edu.uchc.octane.view.imagej1plugin.Plugin("Load")
Octane>View, "Zoom In", edu.uchc.octane.view.imagej1plugin.Plugin("ZoomIn")
Octane>View, "Zoom out", edu.uchc.octane.view.imagej1plugin.Plugin("ZoomOut")
Octane>View, "View Settings", edu.uchc.octane.view.imagej1plugin.Plugin("ViewSettings")
Octane>View>3D Data, "Select Slice...", edu.uchc.octane.view.imagej1plugin.Plugin("zSlice")
Octane>View>3D Data, "View all slices", edu.uchc.octane.view.imagej1plugin.Plugin("zSliceAll")
Octane>View, "Measure local density", edu.uchc.octane.view.imagej1plugin.Plugin("KDTree")
Octane>View, "Save filtered ...", edu.uchc.octane.view.imagej1plugin.Plugin("Save")
Octane>View, "Append...", edu.uchc.octane.view.imagej1plugin.Plugin("Append")
Octane>View, "Preferences...", edu.uchc.octane.view.imagej1plugin.Plugin("Prefs")