# Name: octane-view
# Author: Ji Yu
# Version: 0.1

Octane, "Load...", edu.uchc.octane.view.imagej1plugin.Plugin("Load")
Octane, "Zoom In", edu.uchc.octane.view.imagej1plugin.Plugin("ZoomIn")
Octane, "Zoom out", edu.uchc.octane.view.imagej1plugin.Plugin("ZoomOut")
Octane, "View Settings", edu.uchc.octane.view.imagej1plugin.Plugin("ViewSettings")
Octane, "Measure local density", edu.uchc.octane.view.imagej1plugin.Plugin("KDTree")
Octane, "Save filtered ...", edu.uchc.octane.view.imagej1plugin.Plugin("Save")
Octane, "Append...", edu.uchc.octane.view.imagej1plugin.Plugin("Append")
Octane, "Preferences...", edu.uchc.octane.view.imagej1plugin.Plugin("Prefs")